<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923422368723-ifuoa9a0r040cjpdmkbr5n5l7emmb1or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923422368723-ifuoa9a0r040cjpdmkbr5n5l7emmb1or</string>
	<key>API_KEY</key>
	<string>AIzaSyDNsvkuQ7TOxuT--pYAAGx6-PB-ddmBRnk</string>
	<key>GCM_SENDER_ID</key>
	<string>923422368723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecodeit.evisionDistributionApp</string>
	<key>PROJECT_ID</key>
	<string>evision-distributor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>evision-distributor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923422368723:ios:99a17b68ae01618ceac526</string>
</dict>
</plist>